@page
@model IndexModel
@{
    ViewData["Title"] = "JoCo Desk Emporium";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <img src="~/img/desk-small.jpg" alt="Desk Photo" width="600" height="400"/>
       <div class="welcome">
          <p> You've found JoCo's Desk Emporium, where we specialize in custom desks to meet your personal and business needs. 
            Click on &quot;Build A Quote&quot; to get started today. 
          </p>
        </div>
    </div>
